@import url("/static/fonts/Kreon/kreon.css");
@import url("/static/fonts/IMFellEnglish/im-fell-english.css");
@import url("/static/fonts/Merriweather/merriweather.css");

$face-title: "Merriweather", serif;
$face-text: "IM Fell English", serif;

@media screen and (min-width: 1080px) {
  body {
    font-size: 13pt;
    line-height: 1.5em;
  }
}


body {
  font-family: $face-text;
  letter-spacing: 0.3px;
  -webkit-text-size-adjust: none;

  overflow-wrap: break-word;
}
